.page{
    display: grid;
    grid-template-rows: 150px 435px 150px;
}
/*상단부*/
#up{
    background-color: gray;
    display: grid;
    grid-template-columns: 150px 700px;
}
#profile{
    width: 120px;
    height: 120px;
    border: solid darkgrey;
    border-radius: 60px;
    margin-top: 10px;
    margin-left: 10px;

}
#upright{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#upup{
    display: grid;
    grid-template-columns: 1050px 305px;
}
#updown{
    background-color:darkgray;
    margin-right: 12px;
    padding-top: 18px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 25px;
}
#id{
    background-color: darkgray;
    height: 40px;
    margin-top: 10px;
    margin-right: 15px;
    padding-top: 18px;
}
a{
    text-decoration-line: none;
    color:rgb(34, 9, 84);
}
.notion{
    font-size: 42px;
    margin-top: 8px;
}

/*중앙부*/
#middle{
    display: grid;
    grid-template-columns: 485px 485px 485px;
    
    background-color: rgb(223, 197, 248);
}
.mmd{
    display: grid;
    grid-template-rows: 300px 100px;    

    border: solid black 3px;
    background-color: aqua;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 40px;

    border: solid rgb(153, 152, 155);
    border-radius: 30px;
    background-color: rgb(249, 244, 255);
}
#meup{
    display: grid;
    grid-template-columns: 220px 200px;
}
#momup{
    display: grid;
    grid-template-columns: 220px 200px;
  
}
#dadup{
    display: grid;
    grid-template-columns: 220px 200px;
}
.tag{
    font-size: 30px;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 50px;
    width: 450px;
    
}
img{
    width: 100%;
    position: cover;
    margin-left: 10px;
    margin-top: 10px;

    border-radius: 20px;
    border: solid rgb(153, 152, 155);
}
#meletter{
    margin-left: 20px;
    margin-top: 20px;
}
#momletter{
    margin-left: 20px;
    margin-top: 20px;
}
#dadletter{
    margin-left: 20px;
    margin-top: 20px;
}


/*하단부*/
#down{
    background-color: gray;
    color: white;
}
#info{
    margin-left: 50px;
    margin-top: 30px;
}